# Shelly-Ann Duncan
# 11/13/22
# Books

# Part 1 - Design an ERD

![png](Data/book-ERD.png)

# Part 2 - Create the database

# Import necessary libraries

In [7]:
# imports
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

In [2]:
# create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection = "mysql+pymysql://root:root@localhost/books"

In [4]:
# create engine
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/books)

In [5]:
# create new database
create_database(connection)

In [6]:
# verify database was created
database_exists(connection)

True

# Add tables to database

In [9]:
# users 
users = pd.read_csv('Data/users.csv')
users.head()

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [14]:
# add to books database
users.to_sql('users', engine, if_exists = 'replace')

3

In [15]:
# communicate using sql commands
q = """SELECT * FROM users;"""
pd.read_sql(q, engine)

   index  id first_name  last_name                 email
0      0   1       John        Doe          JD@books.com
1      1   2      Robin      Smith       Robin@books.com
2      2   3     Gloria  Rodriguez  grodriquez@books.com

In [10]:
# books
books = pd.read_csv('Data/books.csv')
books.head()

   id                 title  author_id
0   1           The Shining          1
1   2                    It          1
2   3      The Great Gatsby          2
3   4  The Call of the Wild          3
4   5   Pride and Prejudice          4

In [16]:
# add to books database
books.to_sql('books', engine, if_exists = 'replace')

6

In [17]:
# communicate using sql commands
q1 = """SELECT * FROM books;"""
pd.read_sql(q1, engine)

   index  id                 title  author_id
0      0   1           The Shining          1
1      1   2                    It          1
2      2   3      The Great Gatsby          2
3      3   4  The Call of the Wild          3
4      4   5   Pride and Prejudice          4
5      5   6          Frankenstein          5

In [11]:
# authors
authors = pd.read_csv('Data/authors.csv')
authors.head()

   id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley

In [18]:
# add to books database
authors.to_sql('authors', engine, if_exists = 'replace')

5

In [19]:
# communicate using sql commands
q2 = """SELECT * FROM authors;"""
pd.read_sql(q2, engine)

   index  id        author_name
0      0   1       Stephen King
1      1   2  F.Scott Fitgerald
2      2   3        Jack London
3      3   4        Jane Austen
4      4   5       Mary Shelley

In [13]:
# favorites
favorites = pd.read_csv('Data/authors.csv')
favorites.head()

   id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley

In [20]:
# add to books database
favorites.to_sql('favorites', engine, if_exists = 'replace')

5

In [21]:
# communicate using sql commands
q3 = """SELECT * FROM favorites;"""
pd.read_sql(q3, engine)

   index  id        author_name
0      0   1       Stephen King
1      1   2  F.Scott Fitgerald
2      2   3        Jack London
3      3   4        Jane Austen
4      4   5       Mary Shelley

# Testing the database

In [23]:
# show the tables
q4 = """SHOW TABLES;"""
pd.read_sql(q4, engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

In [35]:
# list the titles of all of John Doe's favorite books
q5 = """SELECT books.title, favorite_book.users_id
        FROM books
        JOIN favorites ON books.id = favorites.books_id
        WHERE favorite_book.users_id = 
        (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND 
        users.first_name = "John"));"""
pd.read_sql(q5, engine)

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'favorite_book.users_id' in 'field list'")
[SQL: SELECT books.title, favorite_book.users_id
        FROM books
        JOIN favorites ON books.id = favorites.books_id
        WHERE favorite_book.users_id =
        (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND
        users.first_name = "John"));]
(Background on this error at: https://sqlalche.me/e/14/e3q8)